.aj-form-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}
.aj-checkbox-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--noble-black-500, #363A3D);
  background: var(--noble-black-600, #1A1D21);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05), 0px 1px 2px -1px rgba(0, 0, 0, 0.05);
}
.aj-form-checkbox p {
  color:#CDCECF;
  font-size: var(--p-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.00938rem;
}
.aj-form-checkbox p span {
  background: var(--logo-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--p-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.00938rem;
}